/* All styles for your header Components live here */
header {
  display: flex;
  border: solid 1px black;
  width: 100%;
}

.img-thumbnail {
  flex-basis: 25%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}