body {
  background: dodgerblue;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  min-height: 460px;
  margin: 0 auto;
}

.display {
  background: #333;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  width: 100%;
  padding: 0 1rem;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  width: 25%;
  background: red;
}

.main {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 360px;
  width: 75%;
  background: white;
}